.head_class {
    background: #B3685F;
    padding: 7px;
    color: #fff;
}
.review_class h2 {
    text-align: center;
    font-size: 36px
}
.review_class h5 {
    text-align: center;
    padding: 28px;
}
.color_div {
    color: #B3685F;
}

.review_class h6 {
    padding: 30px 0px;
}
.swip img {
    
}
